<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Ticket- Erin</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="invoice.html">Invoice</a>
      <a href="courseCertificate.html">Course Certificate</a>
      <a class="active" href="eventTicket.html">Event Ticket</a>
      <a href="restaurantReceipt.html">Restaurant Receipt</a>
    </nav>
    <div id="app">
      <h1>Your Events</h1>
      <label for="name" class="block">Your Name</label>
      <input name="name" id="nameInput" placeholder="Name" type="text" />
      <p>select an event to see your ticket.</p>
      <div class="eventTicket">
        <img src="./images/csh.png" alt="" srcset="" />
        <div>
          <h2 id="CSH"><a>Car Seat Headrest</a></h2>
          <span>Sat • Jul 26, 2025 • 6:30 PM</span>
          <span>The Salt Shed Outdoors (Fairgrounds), Chicago, IL</span>
        </div>
      </div>
      <div class="eventTicket">
        <img id="ticketImage1" src="./images/moonwalker.jpg" alt="" srcset="" />
        <div>
          <h2 id="MoonWalker"><a>Moon Walker</a></h2>
          <span>Wed • May 14, 2025 • 8:00 PM</span>
          <span>Turntable, Indianapolis, IN</span>
        </div>
      </div>
      <button id="downloadPdf">Save Pdf</button>
      <section>
        <iframe id="pdf-preview" frameborder="0"></iframe>
      </section>
    </div>
    <script type="module" src="app/event.js"></script>
    <script type="module" src="app/PDFGenerator.js"></script>
  </body>
</html>
