<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What's up doc?</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a class="active" href="">Home</a>
      <a href="invoice.html">Invoice</a>
      <a href="courseCertificate.html">Course Certificate</a>
      <a href="eventTicket.html">Event Ticket</a>
      <a href="restaurantReceipt.html">Restaurant Receipt</a>
    </nav>
    <div id="app">
      <h1>What's up doc?</h1>
      <h2>The Cremebrulees</h2>
      <p>
        Group Members: Cameron Crosby, Erin Ballinger, Ev Schmitt, Jeremy Black
      </p>
    </div>
    <!-- there is no app.js -->
    <!-- <script type="module" src="app/app.js"></script> -->
  </body>
</html>
