<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What's up doc?</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h1>What's up doc?</h1>
    <a href="invoice.html">Invoice Generator</a>
    <a href="courseCertificate.html">Course Completion Certificate</a>
    <a href="eventTicket.html">Event Ticket</a>
    <a href="restaurantReceipt.html">Restaurant Menu Receipt</a>
    <script type="module" src="app/app.js"></script>
  </body>
</html>
