<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice Generation - Cameron</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a class="active" href="invoice.html">Invoice</a>
      <a href="courseCertificate.html">Course Certificate</a>
      <a href="eventTicket.html">Event Ticket</a>
      <a href="restaurantReceipt.html">Restaurant Receipt</a>
    </nav>
    <div id="app">
      <h1>Invoice Generation</h1>
      <input
        type="checkbox"
        id="laptop"
        name="laptop"
        value="Laptop"
        data-price="1244.99"
      />
      <label for="laptop">Framez Laptop</label><br />
      <input
        type="checkbox"
        id="rgbKeyboard"
        name="rgbKeyboard"
        value="RGB Keyboard"
        data-price="156.99"
      />
      <label for="rgbKeyboard">RGB Keyboard</label><br />
      <input
        type="checkbox"
        id="curvedDisplay"
        name="curvedDisplay"
        value="Curved Display"
        data-price="349.99"
      />
      <label for="curvedDisplay">144Hz Curved Monitor</label><br />
      <input
        type="checkbox"
        id="betterLaptop"
        name="betterLaptop"
        value="Better Laptop"
        data-price="1969.99"
      />
      <label for="betterLaptop">BetterFrames Laptop</label><br />
      <button id="genInvoice">Generate Invoice</button>

      <h2>Invoice</h2>
      <button id="downloadPdf"></button>
      <section>
        <iframe id="pdf-preview" frameborder="0"></iframe>
      </section>
    </div>

    <script type="module" src="app/PDFGenerator.js"></script>
    <script type="module" src="app/invoice/invoice.js"></script>
  </body>
</html>
