<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice Generation - Cameron</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a class="active" href="invoice.html">Invoice</a>
      <a href="courseCertificate.html">Course Certificate</a>
      <a href="eventTicket.html">Event Ticket</a>
      <a href="restaurantReceipt.html">Restaurant Receipt</a>
    </nav>
    <div id="app">
      <h1>Invoice Generation</h1>
      <h3 class="invoiceHeaders">What would you like to purchase?</h3>
      <div class="buttons">
        <button id="laptop">Framez Laptop - 1244.99</button>
        <button id="rgbKeyboard">RGB Keyboard - 156.99</button>
        <button id="curvedDisplay">144Hz Curved Monitor - 349.99</button>
        <button id="betterLaptop">BetterFramez Laptop - 1969.99</button>
      </div>

      <h3 class="invoiceHeaders">Ready to Check Out?</h3>
      <button id="genInvoice">Generate Invoice</button>

      <h2>Invoice</h2>
      <button style="display: none" id="downloadPdf">Download Invoice</button>
      <section style="display: none" id="pdfPreviewer">
        <iframe id="pdf-preview" frameborder="0"></iframe>
      </section>
    </div>

    <script type="module" src="app/PDFGenerator.js"></script>
    <script type="module" src="app/invoice/invoice.js"></script>
  </body>
</html>
