<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Certificate</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="invoice.html">Invoice</a>
      <a href="courseCertificate.html">Course Certificate</a>
      <a href="eventTicket.html">Event Ticket</a>
      <a class="active" href="restaurantReceipt.html">Restaurant Receipt</a>
    </nav>
    <div id="app">
      <h1>Restaurant Receipt</h1>
    </div>
    <script src="app/app.js"></script>
  </body>
</html>
