@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Doppio+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Color Pallet */
:root {
  --text: #100a09;
  --background: #faf2f1;
  --primary: rgb(210, 78, 66);
  --secondary: #ee837a;
  --accent: rgb(249, 77, 61);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: var(--background);
  color: var(--text);
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

a {
  display: block;
  color: var(--primary);
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
nav {
  height: 50px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* font-family: monospace; */
  font-size: 18px;
}
nav a.active {
  text-decoration: underline;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: var(--background);
}
nav a:hover {
  text-decoration: underline;
}

#app {
  padding: 10px;
}

section {
  max-width: 700px;
  margin-bottom: 80px;
}
section:before {
  content: "PDF Preview";
  text-align: center;
  display: block;
}
iframe {
  content: "test";
  width: 100%;
  border: 2px solid var(--accent);
  aspect-ratio: 8.5 / 11;
}

button {
  border: 2px solid var(--accent);
  color: var(--accent);
  padding: 5px 9px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8px;
}
button:hover {
  color: var(--background);
  background-color: var(--accent);
}
label.block {
  display: block;
  font-weight: bold;
  color: var(--accent);
}
input[type="text"] {
  border: 0;
  border-bottom: 2px solid var(--secondary);
  font-size: 20px;
  padding: 3px 4px;
  margin-bottom: 4px;
}

/* EVENT TICKETS */
.eventTicket {
  border: 1px solid var(--text);
  max-width: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 6px;
}
.eventTicket div {
  padding-top: 5px;
  flex: 1;
}
.eventTicket img {
  max-width: 200px;
}
.eventTicket h2 {
  margin-bottom: 0px;
}
.eventTicket span {
  display: block;
  padding-left: 5px;
}

/* Invoice */
.invoiceHeaders {
  margin-top: 10px;
  margin-bottom: 0;
}

/* Course Certificate */
.question {
  margin-bottom: 25px;
  cursor: pointer;
}

#courseName {
  margin-top: 10px;
  margin-bottom: 25px;
}


/* Restaurant Page */
.eggMenu {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .menuOpt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    padding: 20px;
    border: 2px solid var(--accent);
    border-radius: 25px;
    width: 200px;
    height: 400px;
    margin-bottom: 25px;
    img {
      max-height: 200px;
      max-width: 200px;
      border-radius: 25px;
      margin-bottom: 20px;
    }
  }
}