@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Doppio+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Color Pallet */
:root {
  --text: #100a09;
  --background: #faf2f1;
  --primary: #d24e42;
  --secondary: #ee837a;
  --accent: #f94d3d;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: var(--background);
  color: var(--text);
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

a {
  display: block;
}
nav {
  height: 50px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* font-family: monospace; */
  font-size: 18px;
}
nav a.active {
  text-decoration: underline;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: var(--background);
}
nav a:hover {
  text-decoration: underline;
}

#app {
  padding: 10px;
}
